<!DOCTYPE html>

<!-- especificar la variable app  en el javascript-->
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- importar las libreria de angularjs -->
    <script src="node_modules/angular/angular.min.js"></script>
        <!-- importar las libreria de rutas de angularjs -->
    <script src="node_modules/angular-route/angular-route.min.js"></script>
        <!-- importar el archivo js donde irian los modelos y los controladores-->
    <script src="app.js"></script>
    <title>ANGULARJS</title>
</head>
    <!-- para especificar que controllador -->
<body ng-controller="nombre_controller">

    <!--  añade valores al modelo-->
<input type="text" name="" id="" ng-model="apellido">

{{nombre}}
{{apellido}}

<br>
<div class="list-product" ng-controller="lista_controller" >

    <li ng-repeat="p in productos">
        {{p.id}} {{p.nombre}} ${{p.precio}}
    </li>
</div>



</body>
</html>